gax11m_1001/jegyzet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/jegyzet" xmlns:tns="http://www.example.org/jegyzet" elementFormDefault="qualified">

<element name="jegyzet">
	<complexType>
		<sequence>
			<element name="to" type="string"/>
			<element name="from" type="string"/>
			<element name="heading" type="string"/>
			<element name="body" type="string"/>
		</sequence>
	</complexType>
</element>

</schema>