gax11m_1022/cats.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/cats" xmlns:tns="http://www.example.org/cats" elementFormDefault="qualified">

<xs:element name="cats">
	<xs:complexType>
		<xs:all>
			<xs:element name="cat">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name" type="xs:string"/>
						<xs:element name="age" type="xs:int"/>
						<xs:element name="breed" type="xs:string"/>
					</xs:sequence>
					<xs:attribute name="id" type="xs:int"/>
				</xs:complexType>
			</xs:element>
		</xs:all>
	</xs:complexType>
</xs:element>

</xs:schema>